<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name ="_csrf" th:content="${_csrf.token}">
    <meta name ="_csrf_header" th:content="${_csrf.headerName}">
    <title>Title</title>
    <!--/* 부트스트랩 링크 설정 */-->
    <link rel="stylesheet" th:href="@{/dist/css/bootstrap.min.css}">
    <script th:src="@{/dist/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
  <div th:replace="~{fragments/header :: header}"></div>

    <div layout:fragment="content"></div>

  <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>