<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" class="container-md">
    <div class="container-sm">
        <h3 class="font">[no.[[${board.bno}]]] detail page</h3>
        <form action="/board/modify" method="post" id="modForm">
            <input type="hidden" name="bno" th:value="${board.bno}">
            <div class="mb-3">
                <label for="t" class="form-label">Title</label>
                <input type="text" name="title" th:value="${board.title}" class="form-control" id="t" readonly>
            </div>
            <div class="mb-3">
                <label for="w" class="form-label">Writer</label>
                <input type="text" name="writer" th:value="${board.writer}" class="form-control" id="w" readonly>
            </div>
            <div class="mb-3">
                <label for="r" class="form-label">regDate</label>
                <input type="text" name="regDate" th:value="${board.regDate}" class="form-control" id="r" readonly>
            </div>
            <div class="mb-3">
                <label for="c" class="form-label">Content</label>
                <textarea class="form-control" name="content" id="c" rows="5" cols="30" readonly>[[${board.content}]]</textarea>
            </div>
        </form>
        <button class="btn btn-warning" id="modBtn">modify</button>
        <a th:href="@{/board/delete(bno=${board.bno})}"><button class="btn btn-danger" id="delBtn">delete</button></a>
        <a th:href="@{/board/list}"><button class="btn btn-success" id="listBtn">list</button></a>

        <div id="comment">
        <!--comment-->
        <div class="input-group my-3">
            <span class="input-group-text" id="cmtWriter">Tester</span>
            <input type="text" id="cmtText" class="form-control" placeholder="Add Comment..." aria-label="Username" aria-describedby="basic-addon1">
            <button id="cmtAddBtn" type="button" class="btn btn-primary">post</button>
        </div>
        <!-- comment spread -->
        <ul class="list-group" id="cmtListArea">
            <li class="list-group-item">
                <div>
                <div class="fw-bold">writer</div>
                    content
                </div>
                <span class="badge text-bg-primary">reg_date</span>
            </li>
        </ul>

        <!--moreBtn-->
        <div class="input-group my-3">
        <button type="button" class="btn btn-info" id="moreBtn" data-page="1" style="visibility: hidden">more</button>
        </div>

            <!--model-->
            <div class="modal" tabindex="-1" id="commentModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="cmtWriterMod">Tester</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" id="cmtTextMod">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="cmtModBtn">changes</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script th:line="javascript">
            const bnoValue= [[${board.bno}]];
        </script>
        <script th:src="@{/js/boardComment.js}"></script>
        <script th:src="@{/js/boardModify.js}"></script>
        <script>
            spreadCommentList(bnoValue);
        </script>
    </div>
</div>