<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" class="container-md">
    <h1>List Page</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">bno</th>
            <th scope="col" colspan="2">title</th>
            <th scope="col">writer</th>
            <th scope="col">regDate</th>
            <th scope="col">readCount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${ph.list}">
            <th scope="row">[[${board.bno}]]</th>
            <td><a th:href="@{/board/detail(bno=${board.bno})}">[[${board.title}]]</a></td>
            <td>
                <span class="badge text-bg-success">cmt:[[${board.cmtQty}]]</span>
                <span class="badge text-bg-warning">file:[[${board.fileQty}]]</span>
            </td>
            <td>[[${board.writer}]]</td>
            <td>[[${#strings.substring(board.regDate,0,10)}]]</td>
            <td>[[${board.readCount}]]</td>
        </tr>
        </tbody>
    </table>

    <!--[[${ph}]]-->
    <!-- 페이지네이션 -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${ph.prev eq false ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/board/list(pageNo=${ph.startPage} - 1 )}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <th:blcok th:each="i:${#numbers.sequence(ph.startPage, ph.endPage)}">
                <li class="page-item"><a class="page-link" th:href="@{/board/list(pageNo=${i})}">[[${i}]]</a></li>
            </th:blcok>


            <li class="page-item" th:classappend="${ph.next eq false ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/board/list(pageNo=${ph.endPage} + 1)}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>