<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" class="container-md">
    <h3>Board Reigster Page</h3>

        <form action="/board/register" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="t" class="form-label">Title</label>
                <input type="text" name="title" class="form-control" id="t" placeholder="Title...">
            </div>
            <div class="mb-3">
                <label for="w" class="form-label">Writer</label>
                <input type="text" name="writer" placeholder="writer"
                       class="form-control" id="w" >
            </div>
            <div class="mb-3">
                <label for="c" class="form-label">Content</label>
                <textarea class="form-control" name="content" id="c" rows="5" cols="30" placeholder="Content..."></textarea>
            </div>
            <!-- file upload 추가-->
            <div class="mb-3">
            <input type="file" name="files" class="form-control" id="file" multiple style="visibility: hidden">
                <button type="button" class="btn btn-outline-dark" id="trigger">file upload</button>
            </div>
            <!--file list print-->
            <div class="mb-3" id="fileZone">

            </div>
            <button class="btn btn-primary" id="regBtn">submit</button>
            <script th:src="@{/js/boardRegister.js}"></script>
        </form>
</div>